// title: 变量定义;
// coder: 刘帆;
// time: 2017-10-23
$primaryColor: #000;
$primaryFontSize: 0.14rem;
$grayColor: #666;
$grayColor_a1:#a1a1ab;
$redColor:#f42d28;
$borBottom: 0.01rem solid #dedede;
$borBottomGray: 0.01rem solid #EBEBED;
$primaryMarginBottom: 0.3rem;
$primaryBoxShadow:0 0.1rem 0.3rem rgba(188,188,204,.2);
$borderRadius: 0.07rem;
 